<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Users</title>
</head>
<body>
<h3 th:inline="text">Bienvenue admin 1</h3>

<div>
    <h1>List of Users</h1>
</div>
<div class="container text-center">

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Client ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client: ${listClients}">
                <td th:text="${client.getIdcli()}" />
                <td th:text="${client.getCourrielcli()}" />
                <td th:text="${client.getPrenomcli()}" />
                <td th:text="${client.getNomcli()}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>