<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <title>Description produit</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th></th> <!--Image du produit-->
        <th>Produit</th>
        <th>Prix</th>
        <th>Puissance</th>
        <th id="full-description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><img th:src="*{'data:image/png;base64,' + hydrau.displayImage()}" width="120" height="120" alt=""/></td>
        <td th:text="${hydrau.getNomoutil()}"></td>
        <td th:text="${hydrau.getPrix()}"></td>
        <td th:text="${hydrau.getPression()}"></td>
        <td th:text="${hydrau.getDescription()}"></td>
    </tr>
    </tbody>
</table>
<div class="span2" style="padding-top: 30px">
    <button class="btn btn-primary" onclick="window.location.href='/index'">Retour à la page principale</button>
</div>
</body>
</html>
