<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div>
        <h1>HELLO THERE</h1>
    </div>
    <div>
        <!--h3><a th:href="@{/list_users}">List All users</a></h3-->
        <h3><a th:href="@{/register}">Register (beau mais marche pas)</a></h3>
        <h3><a th:href="@{/register2}">Register (moche mais marche)</a></h3>
        <h3><a th:href="@{/login}">Login</a></h3>
    </div>
</div>

</body>
</html>