<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Employees</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>

<body>

<div class="container">

    <form th:action="@{/search}" method="get">
        <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Owner Name & Shop Type" size="50" >
        <button type="submit" class="btn btn-info" >Search</button>
        <button type="submit" class="btn btn-info" >Reset</button>
    </form>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Name</th>
            <th>id</th>
            <th>Puissance</th>
            <th>description</th>
            <th>prix</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="ElectricTool: ${electric}"
            th:some-field="${ElectricTool.nomoutil}" onclick="rowClicked(this.getAttribute('some-field'))">

            <td th:text="${ElectricTool.nomoutil}"></td>
            <td th:text="${ElectricTool.getIdelec()} + ${ElectricTool.getIdoutil()}"></td>
            <td th:text="${ElectricTool.puissance}"></td>
            <td th:text="${ElectricTool.description}"></td>
            <td th:text="${ElectricTool.prix}"></td>

            <td>
                <form th:action="@{/descriptionEl}" method="post" th:object="${ElectricTool}">
                    <input style="display: none" type="hidden" th:value="*{nomoutil}" name="nomoutil"/>
                    <input style="display: none" type="hidden" th:value="*{idelec}" name="idelec"/>
                    <input style="display: none" type="hidden" th:value="*{idoutil}" name="idoutil"/>
                    <input style="display: none" type="hidden" th:value="*{puissance}" name="puissance"/>
                    <input style="display: none" type="hidden" th:value="*{description}" name="description"/>
                    <input style="display: none" type="hidden" th:value="*{prix}" name="prix"/>
                    <input type="submit" value="Description"/>

                </form>
            </td>
        </tr>
        <tr th:each="hydrauTool: ${hydrau}"
            th:some-field="${hydrauTool.nomoutil}" onclick="rowClicked(this.getAttribute('some-field'))">

            <td th:text="${hydrauTool.nomoutil}"></td>
            <td th:text="${hydrauTool.idhyd}"></td>
            <td th:text="${hydrauTool.pression}"></td>
            <td th:text="${hydrauTool.description}"></td>
            <td th:text="${hydrauTool.prix}"></td>

            <td>
                <form th:action="@{/descriptionHi}" method="post" th:object="${hydrauTool}">
                    <input style="display: none" type="hidden" th:value="*{nomoutil}" name="nomoutil"/>
                    <input style="display: none" type="hidden" th:value="*{idhyd}" name="idhyd"/>
                    <input style="display: none" type="hidden" th:value="*{idoutil}" name="idoutil"/>
                    <input style="display: none" type="hidden" th:value="*{pression}" name="pression"/>
                    <input style="display: none" type="hidden" th:value="*{description}" name="description"/>
                    <input style="display: none" type="hidden" th:value="*{prix}" name="prix"/>
                    <input type="submit" value="Description"/>

                </form>
            </td>
        </tr>
        </tbody>
        <script>
            function rowClicked(value) {
                // location.href = "/myurl?param=" + value;
                console.log(value);
            }


        </script>

    </table>
</div>


</body>

</html>