<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Employees</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>List Employees</h3>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Name</th>
            <th>id</th>
            <th>Puissance</th>
            <th>description</th>
            <th>prix</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="ElectricTool: ${electric}"
            th:some-field="${ElectricTool.nomoutil}" onclick="rowClicked(this.getAttribute('some-field'))">

            <td th:text="${ElectricTool.nomoutil}" />
            <td th:text="${ElectricTool.getIdelec()} + ${ElectricTool.getIdoutil()}" />
            <td th:text="${ElectricTool.puissance}" />
            <td th:text="${ElectricTool.description}" />
            <td th:text="${ElectricTool.prix}" />


            <td>
                <form th:action="@{/description}"  method="post" th:object="${ElectricTool}">
                    <input style="display: none" type="hidden" th:value="*{nomoutil}" name="nomOutil" />
                    <input style="display: none" type="hidden" th:value="*{idelec}" name="idelec" />
                    <input style="display: none" type="hidden" th:value="*{idoutil}" name="idoutil" />
                    <input style="display: none" type="hidden" th:value="*{puissance}" name="puissance" />
                    <input style="display: none" type="hidden" th:value="*{description}" name="description" />
                    <input style="display: none" type="hidden" th:value="*{prix}" name="prix" />
                    <input type="submit" value="Description" />

                </form>
            </td>
        </tr>
        </tbody>
        <script>
            function rowClicked(value) {
                // location.href = "/myurl?param=" + value;
                console.log(value);
            }
        </script>

    </table>
</div>


</body>

</html>