<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form name="f" th:action="@{/login}" method="post">
    <fieldset>
        <legend>Connectez-vous avec votre compte</legend>
        <!--si la connexion échoue -->
        <div th:if="${param.error}" class="alert alert-error">
            Mauvais nom d'utilisateur ou mot de passe
        </div>
        <!--si l'utilisateur se déconnecte-->
        <div th:if="${param.logout}" class="alert alert-success">
            Vous vous êtes déconnecté
        </div>
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" name="username">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password">
        <div class="form-action">
            <button type="submit" class="btn">Se connecter</button>
        </div>
    </fieldset>
</form>
</body>
</html>